{% extends 'blank.html' %}
{% load tz %}

{% block content %}
        <form data-toggle="validator" role="form" id="campaign-form">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Detalii campanie
                    </h1>

                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if campaign.id %}
                                            <input id="campaign-name" type="text" class="form-control" value="{{ campaign.name }}" {% if campaign.state != 'DRAFT' %} disabled {% endif %} required>
                                        {% else %}
                                            <input id="campaign-name" type="text" class="form-control" placeholder="Numele campaniei"  required>
                                        {% endif %}
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-md-6" align="right">
                                        {% if campaign.id %}
                                            <a href="/campaign-edit/archive/?campaign_id={{ campaign.id }}" class="btn btn-danger" role="button">Arhiveaza campania</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- .panel-heading -->
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
                                {% include 'edit_questions.html' %}
                            </div>
                            <!-- .panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
            </div>
        </form>

{% endblock %}
