{% extends 'blank.html' %}
{% load tz %}

{% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Campanii active</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>

            <div class="row">
                {% if not campaigns %}
                    Nu exista campanii care sa corespunda criteriilor selectate.
                {% endif %}
                {% for campaign in campaigns %}
                    <div class="col-lg-4">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                {{ campaign.name }}
                            </div>
                            <div class="panel-body">
                                <div class="progress" style="text-align: center;">
                                  <span style="color: black; position: absolute; right:0; left:0;">
                                      {{ campaign.completion }}% ({{ campaign.end_date|timeuntil }} left)
                                  </span>
                                  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                                  aria-valuenow="{{ campaign.completion }}" aria-valuemin="0" aria-valuemax="100" style="min-width: 1em;">
                                  </div>
                                </div>
                                <p>Data start: {{ campaign.publish_date|localtime|default:"-" }}</p>
                                <p>Data finalizare: {{ campaign.end_date|localtime|default:"-" }}</p>
                                <p>Organizatie: {{ campaign.organization.name }}</p>
                                <p>Numar votanti: {{ campaign.count_voters }}</p>
                            </div>
                            <div class="panel-footer" align="center">
                                <a href="/vote/?campaign_id={{ campaign.pk }}">
                                    <i class="glyphicon glyphicon-ok"></i> Voteaza!
                                </a>
                            </div>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:"3" and not forloop.last %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
            </div>

{% endblock %}
